In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import joblib

In [20]:
df = pd.read_csv('model/thebreeder.csv')

In [21]:
df.head()

,path,image_id,image,trans,type,size,morph,price,text,date,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,/content/drive/MyDrive/thebreeders/image/,e09c44ef94f27743c60a9e7aaab46e60.jpg,/content/drive/MyDrive/thebreeders/image/e09c4...,white tree frock,frog,undefined,white,"30,000",화이트트리프록,202404,NaN,NaN,NaN
1,/content/drive/MyDrive/thebreeders/image/,ae4369471d5ecdc865bf1e7eee012cff.jpg,/content/drive/MyDrive/thebreeders/image/ae436...,Albino Spanish Lip Newt,newt,undefined,albino,"40,000",알비노 스패니쉬립 뉴트,202405,NaN,NaN,NaN
2,/content/drive/MyDrive/thebreeders/image/,e6b0a9a3a56d071444312b11c49881d1.jpg,/content/drive/MyDrive/thebreeders/image/e6b0a...,green pacman,pacman,undefined,green,"30,000",그린 팩맨,202210,NaN,NaN,NaN
3,/content/drive/MyDrive/thebreeders/image/,cb1a39623e2751e70943a39681d2fe78.jpg,/content/drive/MyDrive/thebreeders/image/cb1a3...,Bard Tiger Salamander Female,Salamander,adult,undefined,"75,000",바드 타이거 살라멘더 암성체,202409,NaN,NaN,NaN
4,/content/drive/MyDrive/thebreeders/image/,ece3344eff3edeac0de436c7d3ccb314.jpg,/content/drive/MyDrive/thebreeders/image/ece33...,female tiger salamander,Salamander,adult,undefined,"160,000",타이거 살라멘더 암성체,202409,NaN,NaN,NaN

In [22]:
df.isna().sum()

path              0
image_id          0
image             0
trans             0
type              0
size              0
morph             0
price             0
text              0
date              0
Unnamed: 10    1232
Unnamed: 11    1232
Unnamed: 12    1231
dtype: int64

In [24]:
df.drop(columns=['path', 'image','Unnamed: 10','Unnamed: 11','Unnamed: 12'], inplace=True)

In [25]:
df.head()

,image_id,trans,type,size,morph,price,text,date
0,e09c44ef94f27743c60a9e7aaab46e60.jpg,white tree frock,frog,undefined,white,"30,000",화이트트리프록,202404
1,ae4369471d5ecdc865bf1e7eee012cff.jpg,Albino Spanish Lip Newt,newt,undefined,albino,"40,000",알비노 스패니쉬립 뉴트,202405
2,e6b0a9a3a56d071444312b11c49881d1.jpg,green pacman,pacman,undefined,green,"30,000",그린 팩맨,202210
3,cb1a39623e2751e70943a39681d2fe78.jpg,Bard Tiger Salamander Female,Salamander,adult,undefined,"75,000",바드 타이거 살라멘더 암성체,202409
4,ece3344eff3edeac0de436c7d3ccb314.jpg,female tiger salamander,Salamander,adult,undefined,"160,000",타이거 살라멘더 암성체,202409

In [28]:
df.to_csv('Lizards.csv', index=False, encoding='utf-8')